In [10]:
import pandas as pd
df = pd.read_csv("data\cleaned_data.csv", encoding='windows-1252')

In [11]:
df.head

<bound method NDFrame.head of       EmployeeId  Age  Attrition     BusinessTravel  DailyRate  \
0              1   38        NaN  Travel_Frequently       1444
1              2   37        1.0      Travel_Rarely       1141
2              3   51        1.0      Travel_Rarely       1323
3              4   42        0.0  Travel_Frequently        555
4              5   40        NaN      Travel_Rarely       1194
...          ...  ...        ...                ...        ...
1465        1466   38        0.0      Travel_Rarely        168
1466        1467   50        NaN      Travel_Rarely        813
1467        1468   28        1.0      Travel_Rarely       1485
1468        1469   40        0.0         Non-Travel        458
1469        1470   19        1.0  Travel_Frequently        602

                  Department  DistanceFromHome  Education    EducationField  \
0            Human Resources                 1          4             Other
1     Research & Development                11          2           Medical
2     Research & Development                 4          4     Life Sciences
3                      Sales                26          3         Marketing
4     Research & Development                 2          4           Medical
...                      ...               ...        ...               ...
1465  Research & Development                 1          3     Life Sciences
1466  Research & Development                17          5     Life Sciences
1467  Research & Development                12          1     Life Sciences
1468  Research & Development                16          2     Life Sciences
1469                   Sales                 1          1  Technical Degree

      EmployeeCount  ...  RelationshipSatisfaction StandardHours  \
0                 1  ...                         2            80
1                 1  ...                         1            80
2                 1  ...                         3            80
3                 1  ...                         4            80
4                 1  ...                         2            80
...             ...  ...                       ...           ...
1465              1  ...                         4            80
1466              1  ...                         3            80
1467              1  ...                         4            80
1468              1  ...                         2            80
1469              1  ...                         1            80

      StockOptionLevel  TotalWorkingYears  TrainingTimesLastYear  \
0                    1                  7                      2
1                    0                 15                      2
2                    3                 18                      2
3                    1                 23                      2
4                    3                 20                      2
...                ...                ...                    ...
1465                 0                 10                      4
1466                 3                 19                      3
1467                 0                  1                      4
1468                 1                  6                      0
1469                 0                  1                      5

     WorkLifeBalance  YearsAtCompany YearsInCurrentRole  \
0                  3               6                  2
1                  1               1                  0
2                  4              10                  0
3                  4              20                  4
4                  3               5                  3
...              ...             ...                ...
1465               4               1                  0
1466               3              14                 11
1467               2               1                  1
1468               3               4                  2
1469               4               0                  0

      YearsSinceLastPromotion  YearsWithCurrManager
0                           1                     2
1                           0                     0
2                           2                     7
3                           4                     8
4                           0                     2
...                       ...                   ...
1465                        0                     0
1466                        1                    11
1467                        0                     0
1468                        0                     0
1469                        0                     0

[1470 rows x 35 columns]>

In [12]:
from sqlalchemy import create_engine
 
URL = "postgresql://postgres.yhkgbtirqfszhldsvktk:attritionjaya1108@aws-0-ap-southeast-1.pooler.supabase.com:6543/postgres"
 
engine = create_engine(URL)
df.to_sql('employee', engine)

562